<main class="container mt-5">
  <div class="">
    <h1>Menu</h1>
    <ul class="list-group">
      <li  class="list-group-item"><a routerLink="/nodejs">NodeJs</a></li>
      <li  class="list-group-item"><a routerLink="/test-exercice">Test</a></li>
      <li  class="list-group-item">
        Angular
        <ul  class="list-group">
          <li  class="list-group-item"><a routerLink="/angular-exercice-1">Improve performance </a></li>
          <li  class="list-group-item"><a routerLink="/angular-exercice-2">FormReactive Exercice</a></li>
            <!-- <li><a routerLink="/angular-exercice-3">Exercice 3</a></li> -->
        </ul>
      </li>
      <li  class="list-group-item"><a routerLink="/boostrap-exercice">Boostrap exercice</a></li>
      <li  class="list-group-item"><a routerLink="/mongodb">MongoDB</a></li>
    </ul>
  </div>
</main>
